<h1>Flights Index Page</h1>

<% @flights.each do |flight| %>
  <div id="flight-<%= flight.id %>">
    <b>Flight #: <%= flight.number %>Airline: <%= flight.airline.name %></b><br>
    Passengers -
      <% flight.passengers.each do |pass| %>
        <p><%= pass.name %></p>
        <%= button_to "Delete #{pass.name}", "/flight_passengers/#{flight.id}/#{pass.id}", method: :delete, local: true %>
      <% end %>
  </div>
<% end %>